<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.egypt.app" >

    <uses-sdk
        android:maxSdkVersion="23"
        android:minSdkVersion="16"
        android:targetSdkVersion="23"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="التعداد السكانى 2016"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Code"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Main"
            android:label="الرئيسيه"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="التعداد السكانى 2016"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MemberInfo"
            android:label="معلومات الافراد"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
